/* *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #303242;
    color: white;
    font-family: 'Lora', serif;
}

.cv-base{
    padding: 15%;
    height: 100%;
    border: 1px solid grey; */

    /* border-bottom: 1px solid grey; */
    /* border-left: 1px solid grey; */
    /* margin: 10%;
}

.cv-pdf{
    padding-bottom: 4rem;
    display: flex;
    justify-content: center;
}

.cv-pdf-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 3rem;
    background: #BA6C65;
    border: none;
    border-radius: 4px;
} */
